$blue: #7596ff;
$black: #010203;
$white: #f2f5ff;
$dark-blue: #364574;

$base-size: 18px;
$base-line-height: 1.2;
$base-font: "IBM Plex Sans", sans;
$monospace: "IBM Plex Mono", monospace;
$content-width: 850px;
