@charset "utf-8";

@import "variables";

.container {
    margin: 0 auto;
    max-width: $content-width;
}

html,body {
    color: $black;
    background-color: $white;
    font-family: $base-font;
    font-size: $base-size;
}

main {
    // margin-top: 3em;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .site-title {
        width: fit-content;
        margin: 0px;
    }

    .site-subtitle {
        margin: 0px;
    }
}

a {
    color: $blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

