@charset "utf-8";

@import "variables";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i&display=swap');

.container {
    margin: 0 auto;
    max-width: $content-width;
}

html,body {
    color: $black;
    background-color: $white;
    font-family: $base-font;
    font-size: $base-size;
    text-align: justify;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .site-title {
        width: fit-content;
    }

    .site-nav {
        text-align: right;
        max-width: 50%;
        display: flex;
        justify-content: space-between;

        .nav-item {
            font-size: 1.4em;
            margin: 10px;
        }
    }
}

footer {
    font-size: 0.9em;
    text-align: center;
}

a {
    color: $blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.leaflet-container {
    max-width: $content-width;
    height: $content-width * 0.6;
    margin: 12px auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre {
    font-family: $monospace;
    font-size: 14px;

    padding: 1em;
}

code {
    font-family: $monospace;
    font-size: 0.8em;

    background-color: #282828;
    color: #FDF4C1;
    padding: 0em 0.25em;

    border: 1px solid black;
    border-radius: 5%;
}

