@charset "utf-8";

@import "variables";

.container {
    margin: 0 auto;
    max-width: $content-width;
}

html,body {
    color: $black;
    background-color: $white;
    font-family: $base-font;
    font-size: $base-size;
}

main {
    // margin-top: 3em;
}

.table-container {
    display: table-row;
}

.post-header {
    font-size: 16px;
}

.table-tile {
    display: table-cell;
    width: 33%;
    vertical-align: bottom;
}

#subtitle {
    text-align: right;
}

a {
    color: $blue;
    text-decoration: none;
}

