{% extends "main.html" %}

{% block content %}
    <h2>Posts</h2>
    <div class="posts">
        {% set posts = get_section(path="posts/_index.md") %}
        {% for page in posts.pages | filter(attribute="draft", value=false) %}
            {% if loop.index > 5 %}{% break %}{% endif %}
            {{ macros::post_header(page=page) }}
        {% endfor %}
        <br>
        See more posts in the <a href="/posts">archive</a>.
    </div>
    <h2>Who is she?</h2>
    <div class="h-card">
        <img class="u-photo" alt="selfie" src="{{ resize_image(path='./selfie.jpg', width=300, op='fit_width') }}">
        <p>My pronouns are <a href="http://pronoun.is/she/her">she/her</a>. I'm a trans 
        <span class="p-gender-identity">woman</span> living in <span class="p-locality">Boone</span>,
        <span class="p-region">North Carolina</span>. I currently study philosophy and gender,
        womens and sexuality studies, and formerly computer science and political science. I also
        write software in my spare time, on my <a href="https://github.com/7596ff">GitHub</a>. I am
        employed at <a href="https://www.appalcart.com/">AppalCART</a>.</p>
    </div>
{% endblock content %}

