{% extends "main.html" %}

{% block content %}
    <h2>Posts</h2>
    <div class="posts">
        {% set posts = get_section(path="posts/_index.md") %}
        {% for page in posts.pages %}
            {% if loop.index > 5 %}{% break %}{% endif %}
            {{ macros::post_header(page=page) }}
        {% endfor %}
        <br>
        See more posts in the <a href="/posts">archive</a>.
    </div>
    <h2>Who is she?</h2>
    <img alt="selfie" src="{{ resize_image(path='./selfie.jpg', width=300, op='fit_width') }}">
    <p>My pronouns are <a href="http://pronoun.is/she/her">she/her</a>. I'm a trans woman living in North Carolina. I am a former computer science student, currently studing political science, philosphy and gender studies. I am employed at AppalCART.</p>
{% endblock content %}
